<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VueJS</title>

    <link rel="stylesheet" href="./css/playground.css">
</head>

<body>
    <div id="app">
        <p v-if="show">You see me !</p>
        <p v-else>Do you see me ?</p>
        <button type="button" v-on:click="show = !show">Show</button>

        <ul>
            <li v-for="ingredient in ingredients">{{ingredient}}</li>
        </ul>
        <template v-for="person in persons" >
            <div v-bind:style="{'background-color': person.color}">
                <template v-for="(val, key) in person">
                        <label>{{key}}:</label>
                        <span>{{val}}</span>    
                        <br>
                </template>
            </div>    
        </template>
        
    </div>

    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <script src="./js/playground.js"></script>
</body>
</html>