<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VueJS</title>

    <link rel="stylesheet" href="./css/playground.css">
</head>

<body>
    <div id="app" class="app-container">
        <div class="combat-zone">
            <div class="player-zone">
                <h1>YOU</h1>
                <div class="healthbar-container">
                    <div class="healthbar" v-bind:style="{width: playerHealthbar}">
                        <span>{{player.health}}</span>
                    </div>
                </div>
            </div>

            <div class="player-zone">
                <h1>MONSTER</h1>
                <div class="healthbar-container">
                        <div class="healthbar" v-bind:style="{width: monsterHealthbar}">
                        <span>{{monster.health}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="action-zone">
            <div class="action-bar">
                <template v-if="!isInGame">
                        <button class="action-button" type="button" v-on:click="gameInit">New Game</button>    
                </template>
                <template v-else>
                    <button class="action-button" type="button" v-on:click="attack">Attack</button>
                    <button class="action-button" type="button" v-on:click="special">Special</button>
                    <button class="action-button" type="button" v-on:click="heal">Heal</button>
                    <button class="action-button" type="button" v-on:click="giveUp">Abandon</button>    
                </template>
            </div>
        </div>
        <div class="event-zone">
            <h2>Events log</h2>
            <ul class="event-list">
                <template v-for="event in events">
                    <li v-bind:class="event.class">{{event.text}}</li>
                </template>
            </ul>
        </div>



    </div>

    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <script src="./js/playground.js"></script>
</body>

</html>