.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*###############*/
/* HEALTH CLASS */
/*###############*/
.combat-zone {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.player-zone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.healthbar-container {
    width: 400px;
    height: 50px;
    background-color: rgba(200, 200, 200, 0.5);
}

.healthbar {
    height: 50px;
    text-align: center;
    background-color: lawngreen;
    transition: width 250ms;
}

.healthbar span {
    line-height: 50px;
    height: 50px;
}


/*###############*/
/* ACTION CLASS */
/*###############*/

.action-zone {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.action-bar {
    width: 800px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #DDD;
}

.action-button{
    height: 50px;
    min-width: 80px;
    margin: 10px;
}


/*###############*/
/* HISTORY CLASS */
/*###############*/

.event-zone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: 1px solid #DDD;
    width: 800px;
}

.event-zone h2 {
    margin: 7.5px 0;
}

.event-list {
    min-height: 80px;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}

.player-event, .monster-event {
    height: 30xp;
    line-height: 30px;
    margin: 5px 10px;
    padding: 5px;
}

.player-event {
    background-color: lightblue;
}

.monster-event {
    background-color: lightcoral;
}